{% extends "layout.html" %}
{% import "macros.html" as m %}

{% block title %}{{ term.name }} {{ config.title }}{% endblock %}

{% block meta %}<meta name="description" content="{{ term.name }} - {{ config.description }}">{% endblock %}

{% block subtitle %}
  <p>
    <a href="{{ get_url(path='/') }}">Home</a> / <strong>{{ term.name }}</strong>
  </p>
{% endblock %}

{% block sidebar %}
  {{ m::sidebar(pages=term.pages, current_taxonomy=taxonomy.name) }}
{% endblock %}

{% block results %}
  {{ m::results(pages=term.pages) }}
{% endblock %}
